/* Base Styles*/

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    width: 100vw;
}

img {
    display: block;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
/* profile section */
.profile {
    display: flex;
    flex-direction: row;
}
.profile-image {
   border: 10px solid #659f8f;
   border-radius: 50%;
   overflow: hidden;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile-user-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.profile-settings-btn { 
    border: none;
    background: none;
}
.profile-stats > * {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.profile-stat-count {
    font-weight: bold;
    margin-left: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

}
.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: contain;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.gallery-item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 1s ease;

}
.gallery-item:hover .gallery-item-info {
    opacity: 1;
}
.gallery-item-info ul {
    list-style-type: none;
    display: flex;
}
.gallery-item-type {
    display: none;
}
.visually-hidden {
    display: none;
}

/*loader*/


.loader {
    border: 5px solid #659f8f; 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    border-top: 5px solid transparent; 
    animation: spin 1s linear infinite; 
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 